.sus-scheme {
  margin-top: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60vh;
  max-width: 90vw;
  width: 50%;
  box-sizing: border-box;
}

.sus-question {
  background: #fff;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.sus-question p {
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #000000;
  word-break: break-word;
}

.sus-options {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  min-width: 44px;
  min-height: 44px;
  margin: 0 auto;
}

.sus-options button {
  background-color: #0a1d3f;
  color: #97f7b1;
  border: 1px solid #97f7b1;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease;
}

.sus-options button.selected {
  background-color: #97f7b1;
  color: #0a1d3f;
  border: 1px solid #0a1d3f;
}

.submit-button {
  background-color: #0a1d3f;
  border: none;
  color: #97f7b1;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  max-width: 20rem;
  margin: 2rem auto 0;
  display: block;
}

@media (max-width: 1100px) {
  .sus-scheme {
    width: 90vw;
  }

  .sus-options {
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center;
    gap: 0.4rem;
  }

  .sus-options button {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
    min-width: auto;
    white-space: nowrap; /* Prevent text wrapping */
  }
}
