/* TravelDate.css */
.custom-datepicker-wrapper {
  width: 20rem;
  max-width: 80%;
  margin-bottom: 7rem;
}

.custom-datepicker {
  min-height: 3.2rem;
  padding-left: 1rem;
  font-size: max(1.6vw, 1.2rem);
  font-weight: bold;
  color: #6b7280;
  background-color: #efeff2;
  border: none;
  border-radius: 16px;
  align-items: center;
  max-width: 100%;
  margin: 0;
  cursor: pointer;
}

.react-datepicker {
  width: 100%;
  max-width: 25rem;
  background-color: #efeff2;
  border: none;
}

.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__view-calendar-icon svg {
  padding-left: 1rem;
  position: relative !important;
}

.react-datepicker__input-container input:hover {
  background-color: #efeff2 !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
  text-align: center;
  min-width: 44px;
  min-height: 44px;
  font-size: 1rem;
}

.custom-datepicker:hover {
  background-color: #d7d9de;
}

.custom-datepicker:focus {
  outline: none;
  box-shadow: none;
}

.react-datepicker__header {
  background-color: #efeff2;
  border-bottom: 1px solid #6b7280;
  border-top: 1px solid #6b7280;
  border-radius: 0 !important;
}

.react-datepicker__month {
  margin: 0;
  background-color: #efeff2;
}

.react-datepicker__day--selected {
  background-color: #d7d0be;
  color: #000000;
}

@media (max-width: 768px) {
  @media (max-width: 480px) {
    .custom-datepicker-wrapper {
      margin-top: 0.25rem;
      margin-bottom: 5rem;
    }
  }
}
